/* font style */
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: #f5d6ae;
    color: #f09f36;
}
/* coded mobile first, max 600px */
h1 {
    text-align: center;
    padding: 0 2rem;
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
    color: #ebad5d;
}
a {
    text-align: center;
    color: #ebad5d;
    text-decoration: none;
    border: 1px solid #ebad5d;
    border-radius: .5rem;
    padding: .1rem;
    margin: 1rem;
}
a:hover {
    color: #f5d6ae;
    background: #ebad5d;
    border: 1px solid #f5d6ae;
}
li {
    text-align: center;
    margin: 1rem;
}
p {
    padding-top: .5rem;
}

.anchor {
    border: none;
}
section {
    border-top: 2px solid #ebad5d;
}
/* Main */
main{
    display: block;
}
/* Main-header */
.main-header{
    border-bottom: 2px solid #767fc2;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: auto;
    background: #95A0F5;
    padding-bottom: .5;
}
.main-header__title{
    align-self: center;
    justify-self: center;
    color: #767fc2;
}
.main-header__nav{
    display: flex;
    justify-content: space-around;
}
.main-header__nav a{
    color: #767fc2;
    border: 1px solid #767fc2;
}
.main-header__nav a:hover{
    color: #95A0F5;
    background: #767fc2;
    border: 1px solid #95A0F5;
}
/*HTML*/
.html{
    padding-top: 7.5rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/*CSS*/
.css{
    padding-top: 1rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/*PHP*/
.php{
    padding-top: 1rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/*Autres*/
.autres{
    padding-top: 1rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 992px) /*laptop*/
{ 
li{
    text-align: left;
    padding-left: 4rem;
}
p{
    padding-left: 3rem;
}
.html__header, .css__header, .php__header, .autre__header{
    letter-spacing: 1.5rem;
}
} 
@media (min-width: 1200px) /*desktop*/
{

}
/* Dark Theme */
