/* font style */
body{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background: #f5d6ae;
    color: #f09f36;
    transition: .7s;
}
/* coded mobile first, max 600px */
#icon-theme{
    position: absolute;
    right: 1rem;
    top: .5rem;
    padding: .5rem;
    border: 1.5px solid black;
    border-radius: 50%;
    width: 3rem;
    filter: invert(53%) sepia(12%) saturate(1619%) hue-rotate(195deg) brightness(94%) contrast(83%);
    cursor: pointer;
}
h1 {
    text-align: center;
    padding: 0 2rem;
    font-size: 4rem;
}
h2 {
    font-size: 2rem;
    text-align: center;
    color: #ebad5d;
}
a {
    text-align: center;
    color: #ebad5d;
    text-decoration: none;
    border: 1px solid #ebad5d;
    border-radius: .5rem;
    padding: .2rem .4rem;
}
a:hover {
    color: #f5d6ae;
    background: #ebad5d;
    border: 1px solid #f5d6ae;
}
li {
    text-align: center;
    margin: 1rem;
}
p {
    padding-top: 1rem;
}

.anchor {
    border: none;
}
section {
    border-top: 2px solid #ebad5d;
}
/* Main */
main{
    display: block;
}
/* Main-header */
.main-header{
    border-bottom: 2px solid #767fc2;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: auto;
    background: #95A0F5;
    padding-bottom: .5;
}
.main-header__title{
    align-self: center;
    justify-self: center;
    color: #767fc2;
}
.main-header__nav{
    display: flex;
    justify-content: space-around;
}
.main-header__nav a{
    color: #767fc2;
    border: 1px solid #767fc2;
}
.main-header__nav a:hover{
    color: #95A0F5;
    background: #767fc2;
    border: 1px solid #95A0F5;
}
/*HTML*/
.html{
    padding-top: 7.5rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/*CSS*/
.css{
    padding-top: 1rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/*PHP*/
.php{
    padding-top: 1rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
/*Autres*/
.autres{
    padding-top: 1rem;
    padding-bottom: .5rem;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}
@media (min-width: 992px) /*laptop*/
{ 
li{
    text-align: left;
    padding-left: 4rem;
}
h2{
    text-align: left;
    padding-left: 6rem;
}
p{
    padding-left: 3rem;
}
.html__header, .css__header, .php__header, .autre__header, .js__header{
    letter-spacing: 1.5rem;
}
} 
@media (min-width: 1200px) /*desktop*/
{
li{
    padding-top: .5rem;
}
body{
    font-size: 1.5rem;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
}
@media (min-width: 1400px) /*Je te vois avec ton grand écran*/
{
li{
    padding-left: 9rem;
}
}
/* dark-theme */
body.dark{
    background: #1b1b1b;
}
body.dark .main-header{
    background: #1b1b1b;
}
.dark a:hover{
    color: #1b1b1b;
    border: 1px solid #1b1b1b;
}